.board {
  background-color: #ffffff;
  border: 1px solid #999999;
  height: calc(30px * 20 + 2px);
  width: calc(30px * 20 + 2px);
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.ready-modal {
  background-color: #44444466;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.waiting-text {
  color: darkgrey;
  background-color: white;
  border-radius: 5px;
  font-size: 30;
  font-weight: bold;
  padding: 10px;
}

.winner-text {
  color: orange;
  background-color: white;
  border-radius: 5px;
  font-size: 40;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
}
