.cell {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0;
  float: left;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

.winner-cell {
  background-color: yellow;
}

.cell img {
  width: 22px;
  height: 22px;
  transition: 0.3s;
}

.cell:hover {
  background-color: lightgray;
}

.pre-move {
  background-color: yellow;
}
