.board {
  background-color: #ffffff;
  border: 1px solid #999999;
  height: calc(25px * 20 + 2px);
  width: calc(25px * 20 + 2px);
  margin: auto;
  box-sizing: border-box;
}

.ready-modal {
  background-color: #44444466;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
